# Backend
PORT=3001
JWT_SECRET=CLAVE_ULTRA_SECRETA_PARA_GENERAR_TOKENS_JWT

# DB por Cloud SQL Proxy (local)
DB_USER=PsicoAgenda
DB_HOST=127.0.0.1
DB_DATABASE=psicoagenda
DB_PASSWORD=PsicoAgenda
DB_PORT=5433

# Integracion Zoom (Server-to-Server OAuth)
ENABLE_ZOOM_INTEGRATION=false
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_USER_ID=
ZOOM_HTTP_TIMEOUT_MS=12000

# Correo SMTP (Hostinger)
ENABLE_EMAIL_INTEGRATION=false
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=
SMTP_TLS_REJECT_UNAUTHORIZED=true
MAIL_FROM_NAME=PsicoAgenda
MAIL_FROM_ADDRESS=no-reply@psicoagenda.online

# Zona horaria para reuniones y correos
APP_TIMEZONE=America/Mexico_City