# Backend
PORT=3001
JWT_SECRET=CLAVE_ULTRA_SECRETA_PARA_GENERAR_TOKENS_JWT

# DB por Cloud SQL Proxy (local)
DB_USER=PsicoAgenda
DB_HOST=127.0.0.1
DB_DATABASE=psicoagenda
DB_PASSWORD=PsicoAgenda
DB_PORT=5433